.typewriter {
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  max-width: fit-content;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* TODO: Move these styles */
.nav-link {
  position: relative;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: rgb(249 115 22);
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
  width: 100%;
}
