---
import ElementLink from '../ElementLink.astro';

const year = new Date().getFullYear();
---

<footer
  class="group grid grid-cols-2 border-t py-6 text-sm text-gray-400 sm:grid-cols-3 md:border-t-0"
>
  <div class="space-x-4 sm:space-x-8">
    <ElementLink
      href="https://www.linkedin.com/in/jordan-fisher-2789b91a4/"
      short="in"
      full="LinkedIn"
    />
    <ElementLink href="https://github.com/jdjfisher" short="gh" full="GitHub" />
  </div>

  <button
    type="button"
    class="hidden -translate-y-2 justify-self-center px-3 py-1 font-bold text-orange-500 opacity-0 transition hover:drop-shadow-2xl group-hover:translate-y-0 group-hover:opacity-100 sm:block"
  >
    ^
  </button>

  <span class="text-right">Jordan Fisher © {year}</span>
</footer>

<script>
  const button = document.querySelector('button');

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }

  button?.addEventListener('click', scrollToTop);
</script>
