---
import NavLink from './NavLink.astro';

const links = {
  '/': 'Home',
  '/about/': 'About',
  '/projects/': 'Projects',
  '/posts/': 'Posts',
} as const;
---

<header class="relative py-5">
  <nav class="flex justify-between gap-8 sm:justify-start">
    {Object.entries(links).map(([link, label]) => <NavLink link={link} label={label} />)}
  </nav>
</header>
