---
interface Props {
  link: string;
  label: string;
}

const currentPath = Astro.url.pathname;

const { link, label } = Astro.props;

const active = link === currentPath;
---

<a
  href={link}
  class:list={['transition-all duration-500 relative', { 'opacity-60 hover:opacity-100': !active }]}
>
  {label}

  {
    active && (
      <span
        transition:name="active-nav-link"
        class="absolute left-0 top-6 bg-orange-500 h-[2px] w-full"
      />
    )
  }
</a>
