---
import classNames from 'classnames';

interface Props {
  link: string;
  label: string;
}

const currentPath = Astro.url.pathname;

const { link, label } = Astro.props;

const active = link === currentPath;
---

<a
  href={link}
  class={classNames(
    'nav-link transition-all duration-500',
    active ? 'active' : 'opacity-60 hover:opacity-100'
  )}
>
  {label}
</a>
