---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="group relative">
  <div
    class="absolute h-full w-[0.3rem] -translate-x-4 scale-y-50 bg-orange-500 opacity-0 transition group-hover:-translate-x-16 group-hover:scale-100 group-hover:opacity-100"
  >
  </div>

  <a href={href}><slot /></a>
</div>
