---
import RootLayout from '../layouts/RootLayout.astro';
import { Image } from 'astro:assets';
import headshot from '../content/assets/headshot.jpg';
import fs from 'fs';

const bio = fs.readFileSync('./src/content/bio.md', 'utf-8');
---

<RootLayout>
  <div class="space-y-5">
    <h1>About</h1>

    <div class="flex gap-y-8 gap-x-16">
      <p>
        {bio}
      </p>

      <Image src={headshot} alt="Headshot" width={200} height={200} class="shadow-xl" />
    </div>

  </div>
</RootLayout>
