---
import Intro from '../components/Intro.astro';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
  <div class="my-auto">
    <h1>Hi, I'm Jordan</h1>
    <Intro />
  </div>
</RootLayout>
