---
interface Props {
  href: string;
  short: string;
  full: string;
}

const { href, short, full } = Astro.props;
---

<code class="relative">
  <a
    href={href}
    class="group peer relative transition hover:text-black hover:drop-shadow-2xl"
    aria-label={full}
  >
    {'<'}
    {short}
    {' />'}
  </a>

  <span
    class="absolute top-0 -left-4 -z-10 text-xs whitespace-nowrap opacity-0 transition-all peer-hover:-top-5 peer-hover:opacity-40 max-sm:hidden"
  >
    {'<'}
    <span class="text-orange-500">a</span>
    href=
    <span class="text-purple-900">{`"${href}"`}</span>
    {'>'}
  </span>

  <span
    class="absolute top-0 -left-4 -z-10 text-xs whitespace-nowrap opacity-0 transition-all peer-hover:top-5 peer-hover:opacity-40 max-sm:hidden"
  >
    {'</'}
    <span class="text-orange-500">a</span>
    {'>'}
  </span>
</code>
