<div class="relative">
  <p class="blur">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, veniam culpa et, at
    dolores facilis quod blanditiis ut, vero aliquam eaque cum placeat nobis velit consectetur amet
    quas mollitia. Fugit expedita, earum impedit dolores rerum voluptatum temporibus omnis assumenda
    consequatur harum, beatae repellendus quasi perspiciatis libero, possimus obcaecati incidunt nam
    aspernatur et explicabo illo quidem. Veniam repellat quam earum, consequatur perspiciatis ex,
    illum enim accusamus culpa ducimus mollitia nulla illo nesciunt adipisci quia beatae sint in eum
    aperiam minus nihil. In sapiente aliquid consequatur voluptas unde ratione pariatur incidunt sit
    quam molestiae officiis dolores minima reprehenderit nobis eos, rem consectetur.
  </p>

  <div class="absolute top-0 left-0 flex h-full w-full items-center justify-center">
    <span class="text-3xl font-semibold opacity-10">Lorem ipsum</span>
  </div>
</div>
