---
import Layout from '../../layouts/Layout.astro';
import ProjectOverview from '../../components/projects/ProjectOverview.astro';
import { getProjects } from '../../lib/cms/bindings';

const projects = await getProjects();
---

<Layout>
  <div class="space-y-5">
    <h1>Projects</h1>

    <p>Here are some of the projects I've worked on. Click on a project to learn more about it.</p>

    <div class="space-y-10">
      {projects.map((project) => <ProjectOverview project={project} />)}
    </div>
  </div>
</Layout>
