---
import RootLayout from '../../layouts/RootLayout.astro';
import ProjectOverview from '../../components/projects/ProjectOverview.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects', ({ data }) => !data.draft);
---

<RootLayout>
  <div class="space-y-5">
    <h1>Projects</h1>

    <p>Here are some of the projects I've worked on. Click on a project to learn more about it.</p>

    <div class="space-y-10">
      {projects.map((project) => <ProjectOverview project={project.data} />)}
    </div>
  </div>
</RootLayout>
