---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/globals.css';
import { ClientRouter } from 'astro:transitions';
import dayjs from 'dayjs';
import advancedFormat from 'dayjs/plugin/advancedFormat';
import WipToast from '../components/WipToast.astro';

dayjs.extend(advancedFormat);

interface Props {
  title?: string;
}

const title = Astro.props.title ?? 'jdjfisher';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="65b3293b-b680-44ee-b6c3-32a6631bf9c3"></script>
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="relative w-screen overflow-x-hidden">
    <WipToast />

    <div class="mx-auto flex min-h-screen max-w-4xl flex-col gap-16 px-8">
      <Header />

      <main class="flex flex-1">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
