@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36pt;
  font-style: bold;
  font-weight: 700;
}

h2 { 
  font-size: 20pt;
  font-style: bold;
  font-weight: 600;
}

p {
  font-size: 14pt;
  text-align: justify;
}

a:active,
a:focus {
  -webkit-tap-highlight-color: transparent;
}

@import './animations.css';
